<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>god &#8211; Revive</title>
	<atom:link href="http://revive.stylemixthemes.com/blog/tag/god/feed/" rel="self" type="application/rss+xml" />
	<link>http://revive.stylemixthemes.com</link>
	<description>Revive WordPress Theme</description>
	<lastBuildDate>Thu, 25 Feb 2016 12:21:50 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Your reaction is a disgusted</title>
		<link>http://revive.stylemixthemes.com/blog/2014/02/27/were-talking-about-love/</link>
		<comments>http://revive.stylemixthemes.com/blog/2014/02/27/were-talking-about-love/#respond</comments>
		<pubDate>Thu, 27 Feb 2014 13:57:33 +0000</pubDate>
		<dc:creator><![CDATA[Igor Ligay]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[bible]]></category>
		<category><![CDATA[god]]></category>
		<category><![CDATA[theme]]></category>
		<category><![CDATA[wordpress]]></category>

		<guid isPermaLink="false">http://revive.stylemix.net/?p=176</guid>
		<description><![CDATA[Your reaction may be a disgusted, “Yeah, right.” But think about it. We’re not talking about physical intimacy here. We’re talking about love: pure, unconditional, indestructible, eternal love. This is a love so overwhelming it can take your breath away, so forgiving it can make you weep uncontrollably. Your reaction may be a disgusted, “Yeah, right.” But think[…]]]></description>
				<content:encoded><![CDATA[<div id="dslc-theme-content"><div id="dslc-theme-content-inner"><div class="container"><p>Your reaction may be a disgusted, “Yeah, right.” But think about it. We’re not talking about physical intimacy here. We’re talking about <i>love:</i> pure, unconditional, indestructible, eternal love. This is a love so overwhelming it can take your breath away, so forgiving it can make you weep uncontrollably. Your reaction may be a disgusted, “Yeah, right.” But think about it. We’re not talking about physical intimacy here. We’re talking about <i>love:</i> pure, unconditional, indestructible, eternal love. This is a love so overwhelming it can take your breath away, so forgiving it can make you weep uncontrollably.</p>
<p>But think about it. We’re not talking about physical intimacy here. We’re talking about <i>love:</i> pure, unconditional, indestructible, eternal love. This is a love so overwhelming it can take your breath away, so forgiving it can make you weep uncontrollably. Your reaction may be a disgusted, “Yeah, right.” But think about it. We’re not talking about physical intimacy here. We’re talking about <i>love:</i> pure, unconditional, indestructible, eternal love. This is a love so overwhelming it can take your breath away, so forgiving it can make you weep uncontrollably.</p>
<p>This is a love so overwhelming it can take your breath away, so forgiving it can make you weep uncontrollably. Your reaction may be a disgusted, “Yeah, right.” But think about it. We’re not talking about physical intimacy here. We’re talking about <i>love:</i> pure, unconditional, indestructible, eternal love. This is a love so overwhelming it can take your breath away, so forgiving it can make you weep uncontrollably.</p>
</div></div></div>]]></content:encoded>
			<wfw:commentRss>http://revive.stylemixthemes.com/blog/2014/02/27/were-talking-about-love/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
