.dslc-modules-section-wrapper,
.dslca-add-modules-section {
    width: 940px;
}

.dslc-modules-section {
    background-image: disabled;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    border-width: 0px;
    border-style: solid;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0px;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 0%;
    padding-right: 0%;
}

#dslc-content #dslc-module-550 .block-donations {
    margin-bottom: 0px;
}

#dslc-content #dslc-module-550 .hentry {
    margin-bottom: 20px;
}

#dslc-content #dslc-module-550 .post-thumbnail .flip {
    width: 180px;
    height: 180px;
}

#dslc-content #dslc-module-550 .post-thumbnail .img-circle {
    border-width: 5px;
    border-style: solid solid solid solid;
}

#dslc-content #dslc-module-550 .post-thumbnail {
    margin-bottom: 20px;
    margin-right: 20px;
}

#dslc-content #dslc-module-550 .post-title {
    margin-bottom: 20px;
}

#dslc-content #dslc-module-550 .block-header {
    margin-bottom: 40px;
}

#dslc-content #dslc-module-550 .loader,
#dslc-content #dslc-module-550 .pagination {
    margin-bottom: 40px;
}

#dslc-content #dslc-module-550 .filter {
    margin-bottom: 20px;
}

#dslc-content #dslc-module-551 .block-events {
    margin-bottom: 0px;
}

#dslc-content #dslc-module-551 .hentry {
    margin-bottom: 20px;
}

#dslc-content #dslc-module-551 .block-header {
    margin-bottom: 40px;
}

#dslc-content #dslc-module-551 .loader,
#dslc-content #dslc-module-551 .pagination {
    margin-bottom: 40px;
}

#dslc-content #dslc-module-551 .filter {
    margin-bottom: 20px;
}

#dslc-content #dslc-module-552 .block-quote {
    margin-bottom: 0px;
    border-style: solid;
    border-width: 0px;
    padding: 0px;
}

#dslc-content #dslc-module-552 .block-quote-wrap {
    padding: 20px;
}

#dslc-content #dslc-module-552 .block-quote-icon {
    font-size: 32px;
}

#dslc-content #dslc-module-552 .block-quote-divider {
    border-width: 3px;
    border-top-style: solid;
    width: 80%;
}

#dslc-content #dslc-module-552 .block-quote-content {
    font-size: 24px;
}

#dslc-content #dslc-module-552 .block-quote-subtext {
    font-size: 14px;
}

#dslc-content #dslc-module-555 .block-header {
    margin-bottom: 40px;
}

#dslc-content #dslc-module-554 .map {
    height: 399px;
}


/** CONTENT **/

.text-muted,
.links-muted a,
.links-hover-muted a:hover {
    color: #c0c0c0;
}

.hover-muted:hover {
    color: #c0c0c0 !important;
}

.bg-muted,
.bg-hover-muted:hover {
    background-color: #c0c0c0;
}

.border-muted,
.border-hover-muted:hover {
    border-color: #c0c0c0;
}

.text-mutedl,
.links-mutedl a,
.links-hover-mutedl a:hover {
    color: #dfdfdf;
}

.hover-mutedl:hover {
    color: #dfdfdf !important;
}

.bg-mutedl,
.bg-hover-mutedl:hover {
    background-color: #dfdfdf;
}

.border-mutedl,
.border-hover-mutedl:hover {
    border-color: #dfdfdf;
}

.text-mutedd,
.links-mutedd a,
.links-hover-mutedd a:hover {
    color: #737373;
}

.hover-mutedd:hover {
    color: #737373 !important;
}

.bg-mutedd,
.bg-hover-mutedd:hover {
    background-color: #737373;
}

.border-mutedd,
.border-hover-mutedd:hover {
    border-color: #737373;
}

.text-color-1,
.links-color-1 a,
.links-hover-color-1 a:hover {
    color: #0899D7;
}

.hover-color-1:hover {
    color: #0899D7 !important;
}

.bg-color-1,
.bg-hover-color-1:hover {
    background-color: #0899D7;
}

.border-color-1,
.border-hover-color-1:hover {
    border-color: #0899D7;
}

a,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
blockquote:before,
.pagination > li > a,
.pagination > li > span {
    color: #2FBFFD;
}

.caret:before,
.caret:after,
.navbar-toggle,
.progress-bar-default,
.progress-bar {
    background-color: #2FBFFD;
}

.main-menu .nav > li.active > a:before,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    border-color: #0899D7;
}

.text-color-1l,
.links-color-1l a,
.links-hover-color-1l a:hover {
    color: #0899D7;
}

.hover-color-1l:hover {
    color: #2FBFFD !important;
}

.bg-color-1l,
.bg-hover-color-1l:hover {
    background-color: #2FBFFD;
}

.border-color-1l,
.border-hover-color-1l:hover {
    border-color: #2FBFFD;
}

.text-color-1d,
.links-color-1d a,
.links-hover-color-1d a:hover {
    color: #472d60;
}

.hover-color-1d:hover {
    color: #472d60 !important;
}

.bg-color-1d,
.bg-hover-color-1d:hover {
    background-color: #472d60;
}

.border-color-1d,
.border-hover-color-1d:hover {
    border-color: #472d60;
}

.text-color-2,
.links-color-2 a,
.links-hover-color-2 a:hover {
    color: #c5274c;
}

.hover-color-2:hover {
    color: #c5274c !important;
}

.bg-color-2,
.bg-hover-color-2:hover {
    background-color: #c5274c;
}

.border-color-2,
.border-hover-color-2:hover {
    border-color: #c5274c;
}

a:hover,
th,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar .main-menu .navbar-nav > .active > a:hover,
.navbar .main-menu .navbar-nav > .open > a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.widget_recent_entries li:before,
.widget_recent_comments li:before,
.widget_categories ul li:before,
.widget_archive ul li:before,
#comments .media-list .media .media-body .media-heading .fn a,
.block-requests .type-stm_request:before,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #c5274c;
}

.dropdown a:hover .caret:before,
.dropdown a:hover .caret:after,
.progress-bar-primary,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.panel-primary > .panel-heading,
.panel-primary > .table,
.menu-item-language a:hover .caret:before,
.menu-item-language a:hover .caret:after {
    background-color: #c5274c;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #c5274c;
    border-top-color: #c5274c;
    border-bottom-color: #c5274c;
}

.text-color-2l,
.links-color-2l a,
.links-hover-color-2l a:hover {
    color: #f67f9b;
}

.hover-color-2l:hover {
    color: #f67f9b !important;
}

.bg-color-2l,
.bg-hover-color-2l:hover {
    background-color: #f67f9b;
}

.border-color-2l,
.border-hover-color-2l:hover {
    border-color: #f67f9b;
}

.text-color-2d,
.links-color-2d a,
.links-hover-color-2d a:hover {
    color: #76172e;
}

.hover-color-2d:hover {
    color: #76172e !important;
}

.bg-color-2d,
.bg-hover-color-2d:hover {
    background-color: #76172e;
}

.border-color-2d,
.border-hover-color-2d:hover {
    border-color: #76172e;
}

.text-color-3,
.links-color-3 a,
.links-hover-color-3 a:hover {
    color: #ffc600;
}

.hover-color-3:hover {
    color: #ffc600 !important;
}

.bg-color-3,
.bg-hover-color-3:hover {
    background-color: #ffc600;
}

.border-color-3,
.border-hover-color-3:hover {
    border-color: #ffc600;
}

.progress-bar-secondary {
    background-color: #ffc600;
}

.text-color-3l,
.links-color-3l a,
.links-hover-color-3l a:hover {
    color: #ffe380;
}

.hover-color-3l:hover {
    color: #ffe380 !important;
}

.bg-color-3l,
.bg-hover-color-3l:hover {
    background-color: #ffe380;
}

.border-color-3l,
.border-hover-color-3l:hover {
    border-color: #ffe380;
}

.text-color-3d,
.links-color-3d a,
.links-hover-color-3d a:hover {
    color: #997700;
}

.hover-color-3d:hover {
    color: #997700 !important;
}

.bg-color-3d,
.bg-hover-color-3d:hover {
    background-color: #997700;
}

.border-color-3d,
.border-hover-color-3d:hover {
    border-color: #997700;
}

body,
.text-default {
    color: #474d52;
}

#footer {
    background-color: #472d60;
}

#footer {
    color: #ffffff;
}

#footer a {
    color: #9b9b9b;
}

#footer a:hover {
    color: #ffffff;
}

#footer .widget-title {
    color: #ffc600;
}

#footer .widget-title {
    border-color: #ffc600;
}